.app--container{
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.principal{
  height: 60vh;
}


.logo--container{
  height: 58vh;
}

.logo--container img{
  height: 100%;
  width: auto;
}

.video{
  height: 55vh;
  margin-top: 20px;
  padding-left: 1rem;
}

.chamada--container{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.chamada--nome{
  margin: 0;
  padding: 0;
  text-align: center;
}
.chamada--nome, .chamada--info{
  font-size: 1.5rem;
  overflow: hidden;
 
}

.chamada{
  position: absolute;
  background-color: rgb(255, 247, 174);
  width: 100%;
  height: 100%;
  z-index: 1;


}
.chamada--container{
  font-family: serif;
  text-align: center;
  animation: animate 2.6s linear infinite;
} 
 
@keyframes animate{
  0%{
    opacity: 0;
  }
  90%{
    opacity: 0.7;
  }
  100%{
    opacity: 0;
  }
}

.chamada--nome h1{
  color: rgb(0, 0, 0);
  font-size: 4.5em;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  
}

.chamada--info h2{
  color: rgb(0, 0, 0);
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.chamada--info h1{
  color: rgb(0, 0, 0);
  font-size: 4.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ultimos--container{
  height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  
}

.row--label--ultimos{
  height: 5vh;
  text-align: center;
  margin-bottom: 2vh;
}

.row--label--ultimos > p{
  margin: auto;
  font-size: 1.5rem;
}

